.container{
  display: flex;
  flex-direction: column;
  background: gray;
  width: 230px;
  margin: auto;
  height: 325px;
}

.numButton{
  border: 2px solid black;
  border-radius: 5px;
  background: #9A9999;
  margin: auto;
  padding: 20px;
  flex: 1;
  min-width: 50px;

  
}

.numButtonContainer{
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  height: 150px;

}

.mainscreen{
  background-color: #555454;
  border-bottom: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  min-height: 50px;
}

.zeroStyle{
  border: 2px solid black;
  border-radius: 5px;
  background: #9A9999;
  margin: auto;
  padding: 20px;
  flex: 1;
  min-width: 115px;
}

.firstRowButtons{
  background: #626161;
}

.operandButtons{
  background: #FF8000;
}

.maintext{
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  color: white;
}